[submodule "year-IV/semester-1/DT - Digital Telecomunication/LAB/gsm-at-parser"]
	path = year-IV/semester-1/DT - Digital Telecomunication/LAB/gsm-at-parser
	url = https://github.com/ThotuB/gsm-at-parser
